/* header */


.logo_menu_animation:active {
  transform: scale(1.05);
  transition: all, 0.10s ease;

}


.header_menu_animation:hover {

  color: #ffa52f;
  transition: all, 0.10s ease;

}


.header_menu_animation:active {

  transform: scale(1.10);
  transition: all, 0.10s ease;

}



.header_search_icon:active {
  transform: scale(1.15);

}


/* footer */

.footer_icon_animation:hover {
  transform: scale(1.05);
  transition: all 0.05s ease;
}


.footer_icon_animation:active {
  transform: scale(1.15);
  transition: all 0.15s ease;
}


/*  */


.button_container {
  width: 593px;
  height: 116px;
  border: 1px solid #FEA633;

}



/* news button */



.animation_box:hover {
  transform: scale(1.05);
  transition: all 0.10s ease;
}

.animation_box:active {
  transform: scale(1.15);
  transition: all 0.10s ease;
}



/* MyButton */



.animation_my_button {
  border: 1px solid black;
  border-radius: 67px;
  color: black

}

.animation_my_button:hover {
  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #FEA633;
  border-radius: 67px;
}


.animation_my_button:active {
  transform: scale(1.10);
  transition: all 0.10s ease;
}



/* modal page */


.modal_button_submit {
  background-color: #FEA633;
  color: white;
  font-weight: 600;
}


.modal_button_submit:active {
  transform: scale(1.05);
  transition: all 0.05s ease;
}



/* project */


.project_button_animation {

  color: white;
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: #FEA633;
  border-radius: 67px;

}


.project_button_animation:hover {
  color: black;
  border: 1px solid rgb(0, 0, 0);
  background-color: #fea63300;
  border-radius: 67px;

}

.project_button_animation:active {
  transform: scale(1.05);
  transition: all 0.05s ease;
}



/* project card */


.project_card_animation:hover {
  transform: scale(1.10);
  transition: all 0.5s ease-in-out;

}


/* more_news */


.more_news_animation:active {
  transform: scale(1.10);
  transition: all 1s ease;
}




/* schedule */



.schedule_btn {
  width: 100%;
  background-color: #FEA633;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
}


.schedule_btn_checked {
  width: 100%;
  border-radius: 5px;
  background-color: #F9BC6E;
}


.schedule_btn:hover {
  width: 181px;
  height: 51px;
  border-radius: 5px;
  background-color: #F9BC6E;
}

.schedule_btn:active {
  transform: scale(1.05);
  transition: 0.05s ease all;
}


/* shelude */

.card {

  width: 90%;
  height: 50px;
  border-radius: 0px;
  border: 0px solid black;
  border-bottom: 1px solid #FEA633;

}

.card_active {
  width: 90%;
  height: 50px;
  border-radius: 0px;
  border: 0px solid black;
  border-bottom: 1px solid #FEA633;
  background-color: #FEA633;
  color: white;
}
